.porjectbody{
    width: 100%;
    background: linear-gradient(-45deg, #000000, #042f38, #040447, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding-top: 50px;
    padding-bottom: 50px;
}
.heading{
    text-align: center;
    color: rgb(255, 255, 255);
}
.imgani{
   max-width:500px;
}
.headbody{
    max-width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
}
.imgdata{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}
.procards{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@media screen and (max-width: 780px) {
       .headbody{
        max-width: 90%;
        display: block;
        align-items: center;
        margin: auto;
    
    }
    .imgdata{
        color: rgb(255, 255, 255);
        font-size: 1.3rem;
    }
    
    .imgani{
        max-width:90%;
     }
     .procards{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }



}