.profilebody {
  padding-top: 60px;
  max-width: 100%;
  background-color: rgb(1, 5, 24);
}
.profilecard {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hithere {
  color: rgb(252, 240, 255);
  font-size: 3rem;
}
.nametag {
  font-size: 45px;
  color: rgb(255, 255, 255);
}
.nametag > span {
  color: rgb(126, 236, 240);
 
}


.jobs {
  font-size: 35px;
  
  animation: color-change-2x 2s linear infinite alternate both;
  
}
@keyframes color-change-2x {
  0% {
   color:  rgb(56 182 255);
  }
  100% {
   color: #944cbd;
  }
}

.avtardiv {
 
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 79% 21% 46% 54% / 42% 40% 60% 58% ;
  background-color: rgba(48, 54, 66, 0);
  box-shadow:rgb(10 102 194) 0px 4px 8px -2px,rgb(10 102 194) 0px 0px 0px 1px;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
.avtardiv > img {
  border-radius: 79% 21% 46% 54% / 42% 40% 60% 58% ;
  max-width: 300px;
 
}
.fa-github{
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-top: 20px;
}
.fa-linkedin{
  color: rgb(10 102 194);
  font-size: 30px;
  margin-left: 15px;
}
.resumebtn{
  height: 45px;
  width:150px;
  margin-left: 20px;
  border: 0px;
 
  background-color:  rgb(56 182 255);
}
.resumebtn>a{
  color:  rgb(255, 255, 255);
 font-size: 1.3rem;
  text-decoration: none;
}


@media screen and (max-width: 780px) {
  .profilecard {
    width: 100%;
    display: block;
    padding-bottom: 50px;
  }
  .hithere {
    color: aliceblue;
    font-size: 1rem;
  }
  .avtarifo {
    width: 100%;
  }
  .nametag {
    font-size: 1.5rem;
    color: aliceblue;
  }
  .nametag > span {
    color: rgb(56 182 255);
  }
  .jobs {
    font-size: 1rem;
    color: rgb(56 182 255);
  }
  .avtardiv {
    width: 175px;
    
    margin-top: 25px;
    background-color: rgba(48, 54, 66, 0);
    border: 5px solid rgb(56, 136, 255);
  }
  .avtardiv > img {
    width: 100%;
  }
  .resumebtn{
    
    width:100px;
    margin-left: 20px;
    border: 0px;
  
    background-color:  rgb(56 182 255);
  }
  .resumebtn>a{
    color:  rgb(255, 255, 255);
   font-size: 1rem;
    text-decoration: none;
  }
}
