.fotter{
    height: 50px;
    color: rgb(122, 122, 120);
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:center ;
    font-size: 12px;
    text-align: center;
}