.postcard{
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.534);
   text-align: center;
    padding:20px;
    box-shadow: rgba(9, 34, 255, 0.35) 0px 5px 15px;
}
.cartimag{
    width:100%;
}
.cardhead{
   
    font-size: 1.3rem;
    color:#f700ff;
}
.carddetails{
   
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.texttag{
    width: 100%;
   padding-top: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.fa-html5{
    color:#e34f26;
    font-size: 30px;
    margin-left: 20px;
}
.fa-css3{
    color:#1572b6;
    font-size: 30px;
    margin-left: 20px;
}
.fa-js{
    color:#f7df1e;
    font-size: 30px;
    margin-left: 20px;
}
.fa-react{
    color: aqua;
    font-size: 30px;
    margin-left: 20px;
}
.livelink{
    height: 30px;
    width: 100px;
    font-size:20px;
    border: 0ch;
    background-color: rgb(56 182 255);
    margin-left: 20px;
    
}
.livelink:hover{
    border: 2px solid rgb(56 182 255);
    background-color: rgba(0, 0, 0, 0.534);
   
}
.livelink>a{
    text-decoration: none;
    color:black;
}
.livelink>a:hover{
    color:rgb(56 182 255) ;
}

.gitlink{
    background: none;
    border: 0ch;
    font-size: 30px;
}
.gitlink>a{
    text-decoration: none;
    color:rgb(182, 171, 171);
}